{% extends 'base_template.html' %}

{% block title %}
Register
{% endblock %}

{% block jumbodescription %}{% endblock %}

{% block aboutussection %}

<div class="container">
  <div class="row">
    <div class="col-4">
    <button type="button" class="btn btn-outline-dark" id="challengesButtonLeft" ><h1>Forgot your password? No big deal, we can help you reset it </h1></button>
    </div>
    <div class="col-8"> <p>Please enter your email address and we will send you a link to reset your password.</p>
      {% from 'includes/_formhelpers.html' import render_field %}
        <!--Forgot password form-->
      <form action="/forgotpassword" method="POST">
          {{ form.csrf_token }}
      {{ form.hidden_tag() }}

          {{ render_field(form.email, class_='form-group') }}

          <button type="submit" class="btn btn-primary">Reset Password</button>

      </form>
    </div>
      <br>
      <br>
      {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="alert alert-warning">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
      </div>
  {% endif %}
{% endwith %}
</div>
</div>
<!-- End About Us Section -->
{% endblock %}